{% extends 'base.html.twig' %}

{% block title %}CEO BUSINESS FORUM IO{% endblock %}
{% block links %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
<section id="parallax" class="parallax">
    <div class="parallax">
        <img src="{{ asset('assets/img/png/ciel.png') }}" alt="ciel" id="ciel" srcset="">
        <img src="{{ asset('assets/img/png/mer.png') }}" alt="mer" id="mer" srcset="">
        <img src="{{ asset('assets/img/png/bulding.png') }}" alt="ciel" id="bulding" srcset="">
        <img src="{{ asset('assets/img/png/ceo2.png') }}" alt="ciel" id="ceo" srcset="">
    </div>
</section>
<div id="acceuil" class="banner">
    <div class="capt">
        <div class="logo">
            <img src="{{ asset('assets/img/ceo2.png') }}" alt="">
        </div>
        <h1>Le plus grand forum économique des pays riverains et partenaires de l’océan Indien va se dérouler à
            Madagascar pour cette année 2024.</h1>
        <div class="countdown">
            <div id="countdown">
                <div>
                    <span id="countdown_day">--</span>
                    <small>Jours</small>
                </div>
                <div>
                    <span id="countdown_hour">--</span>
                    <small>heures</small>
                </div>
                <div>
                    <span id="countdown_min">--</span>
                    <small>minutes</small>
                </div>
                <div>
                    <span id="countdown_sec">--</span>
                    <small>secondes</small>
                </div>
            </div>
        </div>
        <button class="button"><a href="{{ path('register') }}">s'inscrire maintenant</a></button>
    </div>
</div>
<section id="forum">
    <div class="top flex">
        <div class="left">
            <img src="{{ asset('assets/img/new/ceo1.webp') }}" alt="">
            <img src="{{ asset('assets/img/new/ceo2.webp') }}" alt="">
        </div>
        <div class="right">
            <h1 style="color: #25a0d8;">Le forum</h1>
            <p>
                <span class="tab"></span>Cette année, CEO BUSINESS FORUM – INDIAN OCEAN va interconnecter,
                vulgariser
                et mettra
                en valeur les potentiels économiques des pays riverains de l’océan Indien.<br> <br>
                Améliorer et dynamiser les échanges économiques, réseauter, et faire de l’océan indien un pole
                économique incontournable sur le marché mondial.<br>
                <span class="tab"></span>1000 CEOs, investisseurs et dirigeants parmi les plus influents issus des
                25 pays riverains de
                l'océan Indien vont participer à ce forum de deux jours : Afrique du Sud, Comores, Kenya,
                Madagascar, La Réunion, Maurice, Mozambique, Seychelles, Somalie, Tanzanie, Bangladesh,
                Inde, Indonésie, Iran, Maldives, Malaisie, Oman, Singapour, Sri Lanka, Thaïlande, Yémen,
                Australie, Birmanie, Pakistan, et ses pays partenaires en Europe, Asie, Amérique et d'autres pays
                <span class="tab"></span>africains, ainsi que le monde diplomatique, les médias et les influenceurs.
                <br><br>
                Ce forum prestigieux favorisera les échanges en vue d'établir des partenariats mutuellement
                bénéfiques entre les pays participants et ses partenaires. Le CEO Business Forum - Indian
                Ocean vise également à créer un rendez-vous incontournable pour les acteurs des écosystèmes
                entrepreneuriaux ainsi que leurs partenaires, mettant en avant les entrepreneurs et acteurs
                économiques. Il offrira une occasion privilégiée de réseautage en mettant en lumière les
                investissements publics et privés, facilitant notamment les échanges B2B, B2C, BtoG et GtoG.
            </p>
        </div>
    </div>
    <!-- <div class="bottom flex illustration">
        <div class="img">
            <img src="/img/1.png" alt="">
        </div>
        <div class="img">
            <img src="/img/1.png" alt="">
        </div>
        <div class="img">
            <img src="/img/1.png" alt="">
        </div>
        <div class="img">
            <img src="/img/1.png" alt="">
        </div>
    </div> -->
</section>
<section id="who" class="section-four">
    <div class="content">
        <div class="box3 who">
            <p>
                <span style="background: transparent; font-size: 30px;"><b>Qui-sommes-nous?</b></span>
                <span class="tab"></span>Nous sommes une initiative de GateNews.Africa, une plateforme numérique
                spécialisée dans l’économie Africaine. Fondée et dirigée par des talents malgaches, notre
                plateforme est reconnue pour son expertise et sa pertinence dans le domaine de l’information
                économique en Afrique. <br>

                <span class="tab"></span>une audience mondiale en constante expansion, touchant actuellement
                des millions
                d’abonnés à travers le monde, notre défi est de devenir un acteur incontournable dans le domaine
                de l’information et du développement numérique à l’échelle internationale. Nous jouons un rôle
                essentiel dans la promotion des opportunités d’investissement et dans la mise en relation des
                acteurs économiques à travers le continent African et le reste du monde. <br>
                <span class="tab"></span>GateNews.Africa ,une filiale du GATE
                AFRICA GROUP, fédère
                une vingtaine de sociétés opérant dans divers secteurs tels que l’éducation, la santé, le tourisme
                , le numérique, et bien d’autres, formant un réseau solide et dynamique au service de l’économie
                africaine t de son expansion sur la scène internationale. Ensemble, ces entités possèdent une
                expertise de plus de vingt ans dans la promotion du capital humain, de l’entrepreneuriat et dans
                l’organisation d’événements, contribuant au développement durable et à la prospérité en Afrique.
                Le Groupe comprend également les ONG Gâte Africa et ONG NewLife, renforçant son engagement
                envers les causes humanitaires et le développement social en Afrique.
            </p>
        </div>
        <div class="box3" style="padding: 0 !important;">
            <img src="{{ asset('assets/img/gate-news.PNG') }}" alt="" srcset="">
        </div>
    </div>
</section>
<section id="objectif">
    <div class="top">
        <h1 class="gd-title">Objectifs majeurs</h1>
    </div>
    <div class="flex gap-10">
        <div class="ojectif-item">
            <div class="top">
                <img src="{{ asset('assets/img/partenariat.jpg')}}" alt="">
            </div>
            <div class="capt">
                <h2>PARTENARIAT GAGNANT-GAGNANT</h2>
                <p>• <strong>CEO Business Forum – Indian Ocean</strong> a pour objectif principal de devenir un
                    acteur
                    incontournable dans
                    le développement régional et intercontinental. Ce forum prestigieux favorisera les dialogues en
                    vue
                    d'établir des partenariats mutuellement bénéfiques entre les pays riverains et les partenaires
                    de
                    l'océan Indien. <strong>CEO Business Forum – Indian Ocean</strong> vise également à instaurer un
                    événement phare réunissant les écosystèmes entrepreneuriaux pour ces acteurs ainsi que leurs
                    partenaires, mettant en
                    avant les entrepreneurs et les acteurs économiques.</p>

            </div>
        </div>
        <div class="ojectif-item">
            <div class="top">
                <img src="{{ asset('assets/img/reseautage.jpg')}}" alt="">
            </div>
            <div class="capt">
                <h2>RESEAUTER</h2>
                <p>• <strong>CEO Business Forum – Indian Ocean</strong> sera un événement de grande envergure axé
                    sur le réseautage,
                    mettant en lumière les investissements publics et privés. Il favorisera particulièrement les
                    échanges B2B, B2C et BtoG.</p>
                <p>• Nous voulons surtout valoriser la plateforme hybride dans le site web la plateforme partenaire
                    de <strong>CEO Business Forum – Indian Ocean « GateAfri.com »</strong>, à travers ce dernier,
                    mettre en exergue
                    les changes en vue d’avoir une économie prospère entre les pays riverains et partenaires de
                    l’océan à travers une la plateforme de GateAfri <a
                        href="https://GateAfri.com">https://GateAfri.com</a> « le réseau social
                    économique, touristique et socio-culturel de l’Afrique et de l’Océan Indien ». GateAfri.com sera
                    présenté officiellement pendant cet événement. </p>
            </div>
        </div>
        <div class="ojectif-item">
            <div class="top">
                <img src="{{ asset('assets/img/eco.jpg')}}" alt="">
            </div>
            <div class="capt">
                <h2>RAYONNEMENT SUR L’ECONOMIE MONDIALE</h2>
                <p>Valoriser et renforcer l'image de marque des acteurs économiques présents dans les pays riverains
                    et partenaires de l'océan Indien revêt une importance capitale. Cela constitue un pilier
                    essentiel pour l'avenir des relations économiques, commerciales, socio-culturelles et humaines
                    entre l'Europe et l'Afrique. Il est primordial de démontrer que les pays riverains et
                    partenaires de l'océan Indien jouent un rôle majeur dans le développement partagé et durable au
                    sein de l'économie mondiale. </p>
                <p><b><i>C'est dans cette perspective qu'un partenariat entre ces pays riverains et partenaires de
                            l'océan Indien devient impérieux... </i></b></p>
            </div>
        </div>
    </div>
</section>
<section id="theme">
    <div class="top">
        <h1 class="gd-title">Thème de l’événement</h1>
        <p style="color: white;"><strong>CEO BUSINESS FORUM INDIAN OCEAN:</strong> "Connecter l'Océan Indien, des
            partenariats pour une
            croissance durable."
            <br> (Susceptibles de changer suite aux résultats de recherche fournis par le cercle de réflexion)
        </p>
    </div>
    <div class="bottom">
        <ul>
            <li class="flex align-items-center gap-10">
                <div class="ico"><i class="fa-brands fa-pagelines"></i></i></div>
                <span class="white">Agriculture, agro-industrie, économie bleue</span>
            </li>
            <li class="flex align-items-center gap-10">
                <div class="ico"><i class="fa-solid fa-compass"></i></div>
                <span class="white">Infrastructures et développement touristique</span>
            </li>
            <li class="flex align-items-center gap-10">
                <div class="ico"><i class="fa-solid fa-earth-africa"></i></div>
                <span class="white">Investissements : regards croisés entre les pays riverains et partenaires de
                    l’océan
                    Indien</span>
            </li>
            <li class="flex align-items-center gap-10">
                <div class="ico"><i class="fa-solid fa-building"></i></div>
                <span class="white">Urbanisation et décentralisation</span>
            </li>
            <li class="flex align-items-center gap-10">
                <div class="ico"><i class="fa-solid fa-robot"></i></div>
                <span class="white">Développement numérique, Intelligence Artificielle et cybersécurité</span>
            </li>
            <li class="flex align-items-center gap-10">
                <div class="ico"><i class="fa-solid fa-building-columns"></i></div>
                <span class="white">Financement et développement des PME.</span>
            </li>
            <li class="flex align-items-center gap-10">
                <div class="ico"><i class="fa-regular fa-lightbulb"></i></div>
                <span class="white">Eau, énergie, développement durable</span>
            </li>
        </ul>
    </div>
</section>
<section id="otherinfo">
    <div class="align-items-center">
        <div>
            <p>- La durée de l'événement sera de deux (2) jours : de 8h30 à 17h30 le premier jour, et de 9h à 17h30
                le
                deuxième jour.</p>
            <p>Le deuxième jour sera également suivi d'un Dîner de Gala à partir de 19h. L'événement se tiendra dans
                un
                lieu prestigieux à Madagascar, le Centre de Conférence International – Ivato Antananarivo, les jeudi
                14
                et vendredi 15 novembre 2024.</p>

        </div>
        <div class="img-parent">
            <div class="img">
                <img src="{{ asset('assets/img/cci.jpg')}}" alt="">
            </div>
        </div>
        <div class="img-parent">
            <div class="img">
                <img src="{{ asset('assets/img/gn.jpg')}}" alt="">
            </div>
        </div>
        <div>
            <p>- L'événement se déroulera en présentiel avec des sessions plénières, et sera également disponible en
                streaming sur <strong>www.GateNews.Africa</strong>, avec des intervenants en présentiel et en ligne.
            </p>
            <p>- Le nombre de participants en présentiel sera de 1000 personnes, tandis que l'événement touchera des
                millions de followers en streaming.</p>

        </div>
    </div>
</section>
<section id="format">
    <div class="top">
        <h1 class="gd-title">Format de l’événement</h1>
        <p>Le contenu du programme et la sélection des intervenants résultent d’une réflexion commune entre les
            opérateurs du programme CEO Business Forum – Indian Ocean et parties prenantes engagées sur le sujet
            <br> Démonstration et présentation de divers projets des participants et partenaires
        </p>
    </div>
    <div class="animation">
        <h3 class="txt-center">Animations et ateliers</h3>
        <div class="row">
            <div class="slider">

            </div>
        </div>

    </div>
    <div class="pavillon">
        <h3 class="txt-center">Pavillons de Madagascar</h3>
        <p class="txt-center">Pavillon vitrine de Madagascar, pays récepteur de la première édition de l’événement.
        </p>
        <p class="txt-center">Ces pavillons sous forme de salon ou d’exposition accueilleront plusieurs participants
            et les acteurs économiques de Madagascar mettront donc en valeur l’économie de Madagascar, et sera
            surtout le reflet de l’économie Malagasy (artisanat, industrie, technologie, etc.)</p>
    </div>
</section>
<section id="lieux">
    <div class="flex">
        <div class="left">
            <h2>CEO Business Forum se tiendra au Centre de Conférence Internationale Ivato Madagascar :</h2>
            <p>Un lieu d’exception au portail de Madagascar, près de l’aéroport international</p>
            <ul>
                <li class="flex align-items-center gap-10"><i class="bi bi-circle-fill"></i><span>Amphithéâtre ou
                        salle de conférence de 1100 places</span></li>
                <li class="flex align-items-center gap-10"><i class="bi bi-circle-fill"></i><span>Salle d’exposition
                        de 1000m2</span></li>
                <li class="flex align-items-center gap-10"><i class="bi bi-circle-fill"></i><span>9 Salles de
                        réunion</span></li>
                <li class="flex align-items-center gap-10"><i class="bi bi-circle-fill"></i><span>Plus de 2000
                        places de parking</span></li>
            </ul>
        </div>
        <div class="right">
            <img src="{{ asset('assets/img/cci2.png')}}" alt="">
        </div>
    </div>
</section>
<section id="reportage">
    <div class="top">
        <h1 class="mb-4">Reportages photos</h1>
        <h4>Photos marquant la conférence de presse et le lancement officiel de l'évenement <br>qui s'est déroulé au CCI
            Ivato Antananarivo le 14 Mai 2024</h4>
        <p class="text-justify">La présentation du CEO BUSINESS FORUM INDIAN OCEAN A suscité une réaction enthousiaste parmi
            l'assistance,composée de la communauté économique nationale et internatinale,représentants de groupements
            professionnels,des responsables gouvernementaux,des organismes internationaux, des acteurs économiques ainsi
            que des membres du corps diplomatique.</p>
    </div>
    <div class="bottom">
        <div class="reportage-slider">
            <div class="slide">
                <div class="capt">
                    <h1 class="text-center">Photos marquant <br>la préparation <br>du FORUM</h1>
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/1.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/2.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/3.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/4.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/5.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/6.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/7.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/8.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/9.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/10.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/11.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/12.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/13.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/15.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="guest">
    <div class="top">
        <h1>Qui sont les GUEST SPEAKER<br> et nos MAIN SPEAKER <br>pour ce grand forum économique<br> du 14 au 15
            Novembre 2024 ?</h1>
        <p>Rendez-vous <strong>ce 14 Juin</strong> pour les connaitre</p>
    </div>
    <div class="bottom">
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
    </div>
    <div class="mt-3">
        <p class="text-center">Voulez-vous devenir un de nos Guest Speaker ou Main Speaker ?<br>Envoyez votre dossier de
            candidature en cliquant <a href="{{ path('register') }}">ici</a></p>
    </div>
</section>
<section id="hote">
    <div class="top px-0">
        <div class="logo">
            <img src="{{ asset('assets/img/png/ceo2.png') }}" alt="ciel" id="ceo" srcset="">
        </div>
        <h1>MADAGASCAR :</h1>
        <h4>Un pays hôte aux atouts multiples</h4>
        <hr>
    </div>
    <div class="bottom px-0">
        <div class="bbl">
            <p>Le choix de madagascar comme pays hote du CEO Business Forum - Indian Ocean n'est pas fortuit. La Grande
                Île présente de nombreux avantages indéniables</p>
        </div>
        <ul>
            <li>- Un evironnement économique stable et attractif</li>
            <li>- Une main-d'oeuvre qualifiée et dynamique</li>
            <li>- Un Cadre naturel exceptionnel et une culture riche</li>
            <li>- Une position stratégique au coeur de l'Océan</li>
        </ul>
        <div class="bbl">
            <p>Accueillir cet évenement préstigieux sera une source de fierté pour Madagascar et contribuera à :</p>
        </div>
        <ul>
            <li>- Renforcer son image de déstination d'affaires</li>
            <li>- Attirer des investissements étragers</li>
            <li>- Stimuler la création d'emplois</li>
            <li>- Promouvoir le développement économique du pays</li>
            <li>- Positionner Madagascar en tant qu'acteur économique clé dans la région</li>
        </ul>
    </div>
</section>
<section id="pavillon">
    <div class="top px-0">
        <h1>PAVILLON DE MADAGASCAR:</h1>
        <p class="text-white">Pavillon vitrine de Madagascar, pays récepteur de la première édition de
            l'évenement sous form de sallon ou d'éxposition, ils accueillerons plusieurs participants et les acteurs
            économiques
            de Madagascar.Ces pavillons mettront donc en valeur l'économie de Madagascar, et sera surtout le reflet de
            l'économie Malagasy (artisanat, industrie, technologie, etc.)
        </p>
        <h2>Les cibles :</h2>
    </div>
    <div class="bottom px-0">
        <div class="">
            <h3>PAVILLON <br>ET VITRINE <br>DE MADAGASCAR <br><br>PAYS HOTE DE LA PREMIERE ÉDITION</h3>
        </div>
        <div class="pavillon-item position-relative">
            <div class="ico position-absolute"><i class="fa-solid fa-business-time"></i></div>
            <h3>EXPOSITION</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, omnis odio aspernatur cum doloremque
                consequatur non nemo. Exercitationem!</p>
        </div>
        <div class="pavillon-item position-relative">
            <div class="ico position-absolute"><i class="fa-solid fa-business-time"></i></div>
            <h3>ANIMATION</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, omnis odio aspernatur cum doloremque
                consequatur non nemo. Exercitationem!</p>
        </div>
        <div class="pavillon-item position-relative">
            <div class="ico position-absolute"><i class="fa-solid fa-business-time"></i></div>
            <h3>PROMOTION</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, omnis odio aspernatur cum doloremque
                consequatur non nemo. Exercitationem!</p>
        </div>
        <div class="pavillon-item position-relative">
            <div class="ico position-absolute"><i class="fa-solid fa-shop"></i></div>
            <h3>VENTES</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, omnis odio aspernatur cum doloremque
                consequatur non nemo. Exercitationem!</p>
        </div>
        <div class="pavillon-item position-relative">
            <div class="ico position-absolute"><i class="fa-regular fa-building"></i></div>
            <h3>B2C</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, omnis odio aspernatur cum doloremque
                consequatur non nemo. Exercitationem!</p>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
    integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ asset('assets/js/doslider.js')}}"></script>
{% endblock %}