{% extends 'base.html.twig' %}

{% block title %}CEO BUSINESS FORUM IO{% endblock %}
{% block links %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}

    




<section id="reportage">
    <div class="top">
        <h1 class="mb-4">Reportages photos</h1>
        <h4>Photos marquant la conférence de presse et le lancement officiel de l'évenement <br>qui s'est déroulé au CCI
            Ivato Antananarivo le 14 Mai 2024</h4>
        <p class="text-justify">La présentation du CEO BUSINESS FORUM INDIAN OCEAN A suscité une réaction enthousiaste parmi
            l'assistance,composée de la communauté économique nationale et internatinale,représentants de groupements
            professionnels,des responsables gouvernementaux,des organismes internationaux, des acteurs économiques ainsi
            que des membres du corps diplomatique.</p>
    </div>
    <div class="bottom">
        <div class="reportage-slider">
            <div class="slide">
                <div class="capt">
                    <h1 class="text-center">Photos marquant <br>la préparation <br>du FORUM</h1>
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/1.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/2.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/3.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/4.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/5.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/6.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/7.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/8.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/9.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/10.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/11.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/12.jpg')}}" alt="">
                </div>
            </div>
            <div class="slide flex flex-column">
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/13.jpg')}}" alt="">
                </div>
                <div class="img position-relative">
                    <img class="position absolute" src="{{ asset('assets/img/sary/15.jpg')}}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="guest">
    <div class="top">
        <h1>Qui sont les GUEST SPEAKER<br> et nos MAIN SPEAKER <br>pour ce grand forum économique<br> du 14 au 15
            Novembre 2024 ?</h1>
        <p>Rendez-vous <strong>ce 14 Juin</strong> pour les connaitre</p>
    </div>
    <div class="bottom">
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
        <div class="guest">
            <img src="{{ asset('assets/img/guest.png')}}" alt="">
        </div>
    </div>
    <div class="mt-3">
        <p class="text-center">Voulez-vous devenir un de nos Guest Speaker ou Main Speaker ?<br>Envoyez votre dossier de
            candidature en cliquant <a href="{{ path('register') }}">ici</a></p>
    </div>
</section>
<section id="hote">
    <div class="top px-0">
        <div class="logo">
            <img src="{{ asset('assets/img/png/ceo2.png') }}" alt="ciel" id="ceo" srcset="">
        </div>
        <h1>MADAGASCAR :</h1>
        <h4>Un pays hôte aux atouts multiples</h4>
        <hr>
    </div>
    <div class="bottom px-0">
        <div class="bbl">
            <p>Le choix de madagascar comme pays hote du CEO Business Forum - Indian Ocean n'est pas fortuit. La Grande
                Île présente de nombreux avantages indéniables</p>
        </div>
        <ul>
            <li>- Un evironnement économique stable et attractif</li>
            <li>- Une main-d'oeuvre qualifiée et dynamique</li>
            <li>- Un Cadre naturel exceptionnel et une culture riche</li>
            <li>- Une position stratégique au coeur de l'Océan</li>
        </ul>
        <div class="bbl">
            <p>Accueillir cet évenement préstigieux sera une source de fierté pour Madagascar et contribuera à :</p>
        </div>
        <ul>
            <li>- Renforcer son image de déstination d'affaires</li>
            <li>- Attirer des investissements étragers</li>
            <li>- Stimuler la création d'emplois</li>
            <li>- Promouvoir le développement économique du pays</li>
            <li>- Positionner Madagascar en tant qu'acteur économique clé dans la région</li>
        </ul>
    </div>
</section>
<section id="pavillon">
    <div class="top px-0">
        <h1>PAVILLON DE MADAGASCAR:</h1>
        <p class="text-white">Pavillon vitrine de Madagascar, pays récepteur de la première édition de
            l'évenement sous form de sallon ou d'éxposition, ils accueillerons plusieurs participants et les acteurs
            économiques
            de Madagascar.Ces pavillons mettront donc en valeur l'économie de Madagascar, et sera surtout le reflet de
            l'économie Malagasy (artisanat, industrie, technologie, etc.)
        </p>
        <h2>Les cibles :</h2>
    </div>
    <div class="bottom px-0">
        <div class="">
            <h3>PAVILLON <br>ET VITRINE <br>DE MADAGASCAR <br><br>PAYS HOTE DE LA PREMIERE ÉDITION</h3>
        </div>
        <div class="pavillon-item position-relative">
            <div class="ico position-absolute"><i class="fa-solid fa-business-time"></i></div>
            <h3>EXPOSITION</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, omnis odio aspernatur cum doloremque
                consequatur non nemo. Exercitationem!</p>
        </div>
        <div class="pavillon-item position-relative">
            <div class="ico position-absolute"><i class="fa-solid fa-business-time"></i></div>
            <h3>ANIMATION</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, omnis odio aspernatur cum doloremque
                consequatur non nemo. Exercitationem!</p>
        </div>
        <div class="pavillon-item position-relative">
            <div class="ico position-absolute"><i class="fa-solid fa-business-time"></i></div>
            <h3>PROMOTION</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, omnis odio aspernatur cum doloremque
                consequatur non nemo. Exercitationem!</p>
        </div>
        <div class="pavillon-item position-relative">
            <div class="ico position-absolute"><i class="fa-solid fa-shop"></i></div>
            <h3>VENTES</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, omnis odio aspernatur cum doloremque
                consequatur non nemo. Exercitationem!</p>
        </div>
        <div class="pavillon-item position-relative">
            <div class="ico position-absolute"><i class="fa-regular fa-building"></i></div>
            <h3>B2C</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, omnis odio aspernatur cum doloremque
                consequatur non nemo. Exercitationem!</p>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
    integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ asset('assets/js/doslider.js')}}"></script>
{% endblock %}