{% extends 'base.html.twig' %}

{% block title %}CEO BUSINESS FORUM IO
{% endblock %}

{% block body %}
	<section id="parallax" class="parallax">
		<div class="parallax">
			<img src="{{ asset('assets/img/png/ciel.png') }}" alt="ciel" id="ciel" srcset="">
			<img src="{{ asset('assets/img/png/mer.png') }}" alt="mer" id="mer" srcset="">
			<img src="{{ asset('assets/img/png/bulding.png') }}" alt="ciel" id="bulding" srcset="">
			<img src="{{ asset('assets/img/png/ceo2.png') }}" alt="ciel" id="ceo" srcset="">
		</div>
	</section>
	<div id="acceuil" class="banner">
		<div class="parrain">
			<span>sous le haut parrainage du:<span></div>
				<div class="organisme">
					<span>Organisé par:</span>
						
				</div>
				<div class="capt">
					<div class="logo">
						<span></b>
						Rendez-vous à Madagascar
					</b>
				</span>
				<h1 style="color: var(--blue1)">Ce 14 - 15 Novembre 2024</h1><br>
			</div>
			<h1>Le plus grand forum économique des pays riverains et partenaires de l’océan Indien va se dérouler à
																																																            Madagascar pour cette année 2024.</h1>
			<div class="countdown">
				<div id="countdown">
					<div>
						<span id="countdown_day">--</span>
						<small>Jours</small>
					</div>
					<div>
						<span id="countdown_hour">--</span>
						<small>heures</small>
					</div>
					<div>
						<span id="countdown_min">--</span>
						<small>minutes</small>
					</div>
					<div>
						<span id="countdown_sec">--</span>
						<small>secondes</small>
					</div>
				</div>
			</div>
			<span>Thème :</span>
			<span>
				<b>CEO BUSINESS FORUM INDIAN OCEAN "Economie dynamique, partenariats stratégique: l'esprit de l'Océan Indien."</b>
				<span></div>
			</div>
			
	<section class="sec-secteur" id="theme">
		<h2>Plusieurs secteurs seront discutés</h2>
		<div class="secteur">
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-leaf"></i>
					</div>
				</div>
				<span>Economie</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-computer"></i>
					</div>
				</div>
				<span>Numerique</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-cloud-showers-heavy"></i>
					</div>
				</div>
				<span>Climat</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-brands fa-envira"></i>
					</div>
				</div>
				<span>Envirenement</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-brands fa-leanpub"></i>
					</div>
				</div>
				<span>Education</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-water"></i>
					</div>
				</div>
				<span>Economie bleu</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-helmet-safety"></i>
					</div>
				</div>
				<span>Logistique</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-truck-fast"></i>
					</div>
				</div>
				<span>Transport</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-shirt"></i>
					</div>
				</div>
				<span>Textile</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-ship"></i>
					</div>
				</div>
				<span>Tourisme</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-prescription-bottle-medical"></i>
					</div>
				</div>
				<span>Santé</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-bolt"></i>
					</div>
				</div>
				<span>Energie</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-gem"></i>
					</div>
				</div>
				<span>Mines</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-tractor"></i>
					</div>
				</div>
				<span>Agriculture</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-clapperboard"></i>
					</div>
				</div>
				<span>Audiovisuel</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-building-columns"></i>
					</div>
				</div>
				<span>Gouvernance</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-money-bill-trend-up"></i>
					</div>
				</div>
				<span>Finance</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-building"></i>
					</div>
				</div>
				<span>Urbanisation</span>
			</div>
			<div class="secteur-content">
				<div class="content">
					<div class="icon">
						<i class="fa-solid fa-hand-holding-heart"></i>
					</div>
				</div>
				<span>Ong et<br>
					Organisation
					<br>
					internationales</span>
			</div>
		</div>
	</section>

	<section class="objectifMaj">
		<h2 class="title">Les objectifs majeurs de l'evenement</h2>
		<div class="d-flex align-items-start">
			<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<button class="nav-link nav-pad active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
					<b>Mobiliser le secteur privé et les gouvernements en faveur du développement</b>
				</button>
				<button class="nav-link nav-pad" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
					<b>Promouvoir la coopération régionale et internationale
					</b>
				</button>
				<button class="nav-link nav-pad" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
					<b>Identifier des solutions concrètes aux défis du développement
					</b>
				</button>
				<button class="nav-link nav-pad" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
					<b>Développer le réseautage et les opportunités d' affaires</b>
				</button>
			</div>
			<div class="tab-content" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
					<div class="img-obj"><img src="{{ asset('assets/img/developpement-afrique.jpg') }}" alt="CEO Business Forum"></div>
					<div class="text-obj">
						<span>• Sensibiliser les chefs d'entreprises et les décideurs politiques aux potentialités économiques de la région</span><br><br>
						<span>• Encourager les investissements du secteur privé et les politiques publiques favorables au développement</span><br><br>
						<span>• Promouvoir la création de partenariats public-privé pour la réalisation de projets d'envergure</span>
					</div>

				</div>
				<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
					<div class="img-obj"><img src="{{ asset('assets/img/png/ceo2.png') }}" alt="CEO Business Forum"></div>
					<div class="text-obj">
						<span>• Faciliter les échanges entre les acteurs économiques et gouvernementaux de l’océan Indien</span><br><br>
						<span>• Encourager la collaboration entre sel pays de la région et les partenaires internationaux</span><br><br>
						<span>• Renforcer les liens entre l 'océan Indien et le reste du monde</span>
					</div>

				</div>
				<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
					<div class="img-obj"><img src="{{ asset('assets/img/png/ceo2.png') }}" alt="CEO Business Forum"></div>
					<div class="text-obj">
						<span>• Débattre des enjeux économiques, sociaux et environnementaux de la région</span><br><br>
						<span>• Identifier des solutions innovantes et inclusives pour relever ces défis</span><br><br>
						<span>• Promouvoir la mise en œuvre de projets concrets et durables</span>
					</div>

				</div>
				<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
					<div class="img-obj"><img src="{{ asset('assets/img/png/ceo2.png') }}" alt="CEO Business Forum"></div>
					<div class="text-obj">
						<span>• Créer un espace de rencontre et d'échange pour les chefs d'entreprises, les investisseurs et les décideurs politiques</span><br><br>
						<span>• Faciliter la conclusion de partenariats commerciaux et la  création de joint ventures</span><br><br>
						<span>• Promouvoir l’entrepreneuriat et l’innovation</span>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section class="visualiser">
		<div class="content">
			<div class="header d-flex align-items justify-content-between mb-2">
				<h1>Visualisez des vidéo</h1>
				<div>
					<button class="">
						<i class="fa-solid fa-chevron-left"></i>
					</button>
					<button class="">
						<i class="fa-solid fa-chevron-right"></i>
					</button>
				</div>
			</div>
			<div class="sld-video">
				<div class="video-container">
					<video controls>
						<source src="video1.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<div class="video-title">vidéo présentation CEO Business Forum Indian version Française</div>
				</div>
				<div class="video-container">
					<video controls>
						<source src="video2.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<div class="video-title">vidéo présentation CEO Business Forum Indian version Anglaise</div>
				</div>
				<div class="video-container">
					<video controls>
						<source src="video3.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<div class="video-title">vidéo présentation CEO Business Forum Indian version Original (Sous titrés Français)</div>
				</div>
				<div class="video-container">
					<video controls>
						<source src="video4.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<div class="video-title">vidéo présentation CEO Business Forum Indian version Original (Sous titrés Anglais)</div>
				</div>
				<div class="video-container">
					<video controls>
						<source src="video5.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<div class="video-title">vidéo présentation CEO Business Forum Indian version Original</div>
				</div>
				<div class="video-container">
					<video controls>
						<source src="video6.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<div class="video-title">vidéo présentation CEO Business Forum Indian</div>
				</div>
			</div>

		</div>
	</section>
	<section class="cible">
		<div class="d-flex align-items justify-content-between">
			<div class="map"><img src="{{ asset('assets/img/carte-du-monde.jpg') }}" alt="Ocean Indien"></div>
			<div class="cible-content">
				<div class="cible-title">
					<h1>Nos Cible:</h1>
				</div>
				<p>
					1000 CEOs, acteurs économiques, dirigeants du secteur public et privé, entrepreneurs et structures d'appui, investisseurs, business angels, organismes institutionnels pertinents des pays riverains de l'océan Indien (Afrique du
																		Sud, Comores, Kenya, Madagascar, La Réunion, Mayotte, Maurice, Mozambique, Seychelles, Somalie, Tanzanie, Bangladesh, Inde, Indonésie, Iran, Maldives, Malaisie, Oman, Singapour, Sri Lanka, Thailande, Yémen, Australie, Birmanie, Pakistan), et ses pays partenaires en Europe, Asie,
																		Amérique et d'autres pays africains, ainsi que le monde diplomatique, les médias et les influenceurs.
				</p>
			</div>
		</div>
	</section>

{% endblock %}
